build
vendor
*.test
tests/__debug*
.idea
.vscode
test.db
models_bel.ts
result
deb-package-nil
clickhouse
exporter.yaml
*.json

# compiled solidity contracts
*.bin
*.abi
contracts/compiled

# SSZ encoding files
*_encoding.go

.run
# CLI config file
config.yaml
# CLI keys file
keys.yaml

# Local build files
cmd/nil/nil
cmd/nil_cli/nil_cli
